@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="container">

    <h1 class="display-4">
        Shopping List Administration
    </h1>

    <hr />

    <div class="row">
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <h4>Categories</h4>
                    <p>
                        Manage all product categories.
                    </p>
                    <a asp-controller="Categories"
                       asp-action="Index"
                       class="btn btn-primary">

                        Open

                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <h4>Products</h4>
                    <p>
                        Manage products.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <h4>Users</h4>
                    <p>
                        Identity Management
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>