@model ShoppingListApp.Models.Category

@{
    ViewData["Title"] = "Create Category";
}

<h2>Create Category</h2>

<form asp-action="Create">

    <partial name="_Form" />

    <button class="btn btn-success">

        Save

    </button>

    <a asp-action="Index"
       class="btn btn-secondary">

        Cancel

    </a>

</form>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}