@model ShoppingListApp.Models.Category

<h2>Delete Category</h2>

<div class="alert alert-danger">

    Are you sure?

</div>

<form asp-action="Delete">

    <input type="hidden" asp-for="Id" />

    <h4>@Model.Name</h4>

    <button class="btn btn-danger">

        Delete

    </button>

    <a asp-action="Index"
       class="btn btn-secondary">

        Cancel

    </a>

</form>